@import "./animations/pulse.css";
@import "./animations/shimmer.css";
@import "./animations/fade.css";

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-family: sans-serif;
  font-size: 4rem;
  opacity: 1;
}
